name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test on Node 16.x and ubuntu-latest

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2

      - name: Build
        run: yarn build
